<a href="https://colab.research.google.com/github/Snkhodijah/MetLit-/blob/main/If_Or_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PERCABANGAN (IF)**

---

In [ ]:
# if Sederhana
# if [kondisi]
  # [pernyataan jika kondisi benar]

nilai = 80
if nilai >= 80:
  print("A")

A

In [ ]:
# ELIF (else if)

nilai = 62
if nilai >= 80:
  print("A")
elif nilai >= 70:
  print("B")
elif nilai >= 65:
  print("C")
# ELSE langsung deskripsikan kondisi nya
else:
  print("D")

D

In [ ]:
nilai = 90
if nilai >= 80:
  grade = "A"
elif nilai >= 75:
  grade = "B"
else:
  grade = "E"

print (grade)

A

# New Section

In [ ]:
nilai = 80
kehadiran = 75

if kehadiran >= 75 and nilai >= 85:
  grade = "A"
elif kehadiran >= 75 and nilai >= 75:
  grade = "B"
elif kehadiran >= 75 and nilai >= 60:
  grade = "C"
elif kehadiran >= 75 and nilai < 60:
  grade = "D"
elif kehadiran < 75:
  grade = "E"

print (grade)

B

In [ ]:
# NESTESD IF
nilai = 85
kehadiran = 75

if kehadiran >= 75:
  if nilai >= 85:
    grade = "A"
  elif nilai >= 75:
    grade = "B"
  elif nilai >= 65:
    grade = "C"
  else:
    grade = "D"

else:
  grade = "E"

print (grade)

A

In [ ]:
# Ternary sederhana / Short Hand if (hanya menampilkan satu kondisi )
# if (kondisi) : (sederhana)
nilai = 85
if nilai >= 75: print ("A")

A

In [ ]:
# ternary dengan ELSE
kehadiran = 90
print("lulus") if kehadiran >= 75 else print ("tidak lulus")
#tanpa menggunakan :

lulus

In [ ]:
usia = input ("masukan usia :")
penghasilan = input ("masukan penghasilan :")

if int(usia) >= 18:
  if int(penghasilan) >=1500000:
    print ("layak")
  else:
    print ("tidak layak")
else:
  print ("tidak layak mendapatkan pinjaman")

masukan usia :23
masukan penghasilan :1900000
layak

**PERULANGAN**

---

In [ ]:
# for in range
# for [var] in range (number): / (awal,akhir,step):
  #pernyataan

for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for in element
# for [var] in [data_collection]:
  #pernyataan

namas = ["budi", "poni", "sela"]
for nama in namas:
  print(nama)

budi
poni
sela

In [ ]:
for i in range (0,20,4):
  print (i)

0
4
8
12
16

# WHILE

In [ ]:
x = 0
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [ ]:
def count_down(start_number):
  current = start_number
  while (current > 0):
    print(current)
    current -= 1
  print("Zero!")

count_down(3)

3
2
1
Zero!

In [ ]:
def even_numbers(n):
    count = 0
    current_number = 0
    while current_number <= n: # Complete the while loop condition
        if current_number % 2 == 0:
            count += 1 # Increment the appropriate variable
        current_number +=1 # Increment the appropriate variable
    return count

print(even_numbers(25))   # Should print 13
print(even_numbers(144))  # Should print 73
print(even_numbers(1000)) # Should print 501
print(even_numbers(0))    # Should print 1

13
73
501
1

Infiniti **loops**

In [ ]:
def print_range(start, end):
    # Loop through the numbers from start to end
    n = start
    while n <= end:
        print(n)
        n += 1  # Increment n by 1 in each iteration

print_range(1, 5)  # Should print 1 2 3 4 5 (each number on its own line)

1
2
3
4
5

## exs

In [ ]:
def is_power_of_two(number):
  # This while loop checks if the "number" can be divided by two
  # without leaving a remainder. How can you change the while loop to
  # avoid a Python ZeroDivisionError?

  if number == 0:
    return False
  while number % 2 == 0 and number > 1:
    number = number / 2
  # If after dividing by 2 "number" equals 1, then "number" is a power
  # of 2.
  if number == 1:
    return True
  return False


# Calls to the function
print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

False
True
True
False

In [ ]:
# Fill in the blanks so that the while loop continues to run while the
# "divisor" variable is less than the "number" parameter.

def sum_divisors(number):
# Initialize the appropriate variables
  divisor= 1
  total = 0

  # Avoid dividing by 0 and negative numbers
  # in the while loop by exiting the function
  # if "number" is less than one
  if number < 1:
    return 0

  # Complete the while loop
  while divisor < number:
    if number % divisor == 0:
      total += divisor
    # Increment the correct variable
    divisor += 1

  # Return the correct variable
  return total


print(sum_divisors(0)) # Should print 0
print(sum_divisors(3)) # Should print 1
# 1
print(sum_divisors(36)) # Should print 1+2+3+4+6+9+12+18
# 55
print(sum_divisors(102)) # Should print 1+2+3+6+17+34+51
# 114

0
1
55
114

In [ ]:
def multiplication_table(number):
    # Initialize the appropriate variable
    multiplier = 1

    # Complete the while loop condition.
    while multiplier <= 5:
        result = number * multiplier
        if  result > 25 :
            # Enter the action to take if the result is greater than 25
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))

        # Increment the appropriate variable
        multiplier += 1


multiplication_table(3)
# Should print:
# 3x1=3
# 3x2=6
# 3x3=9
# 3x4=12
# 3x5=15

multiplication_table(5)
# Should print:
# 5x1=5
# 5x2=10
# 5x3=15
# 5x4=20
# 5x5=25

multiplication_table(8)
# Should print:
# 8x1=8
# 8x2=16
# 8x3=24

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
8x1=8
8x2=16
8x3=24

# for loop

In [ ]:
for number in range(2,7+1):
    print(number)

2
3
4
5
6
7

Kode tersebut merupakan contoh dari loop for yang melakukan iterasi pada variabel number dalam rentang dari 2 hingga 7+1 (8). Penambahan +1 pada akhir rentang (7+1) dilakukan agar nilai indeks akhir 7 juga termasuk dalam rentang. Nilai pertambahan dalam setiap iterasi loop adalah nilai default yaitu +1. Fungsi print() akan mencetak hasil perkalian nilai "number" dengan 3.

In [ ]:
# Perulangan ini mengulangi nilai variabel "x" dalam suatu rentang
# dari 2 hingga -1 (indeks akhir rentang -2 tidak termasuk). Ketiga
# parameter juga merupakan angka negatif, menjadikannya nilai yang menurun
# dari -1. Fungsi print() akan menampilkan nilai yang dihasilkan
# "x" dimulai dari 2 dan menghitung mundur hingga -1 (indeks -2).

for x in range(2, -2, -1):
    print(x)

2
1
0
-1

# Nested for loops

In [ ]:
for left in range(7):
  for right in range(left, 7):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [ ]:
teams = ['Dragon', 'Wolves', 'Pandas', 'Unicorn']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + " VS " + away_team)

Dragon VS Wolves
Dragon VS Pandas
Dragon VS Unicorn
Wolves VS Dragon
Wolves VS Pandas
Wolves VS Unicorn
Pandas VS Dragon
Pandas VS Wolves
Pandas VS Unicorn
Unicorn VS Dragon
Unicorn VS Wolves
Unicorn VS Pandas

In [ ]:
for n in range(6,19,3):
    print(n*2)

12
18
24
30
36

In [ ]:
for n in range(19):
    if n % 2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for n in range(10):
    print(n+n)

0
2
4
6
8
10
12
14
16
18

# Reqursion (opsional)

In [ ]:
def factorial(n):
  print("Factorial called with "+ str(n))
  if n < 2:
    print("returning 1")
    return 1
  result = n * factorial (n-1)
  print("Returning " + str(result) + " for factorial of " + str(n))
  return result

print(factorial (3))

Factorial called with 3
Factorial called with 2
Factorial called with 1
returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
6

In [ ]:
def is_power_of(number, base):
    # Base case: when number is smaller than base.
    if number < base:
        # If number is equal to 1, it's a power (base**0).
        return number == 1

    # Recursive case: keep dividing number by base.
    return is_power_of(number / base, base)

print(is_power_of(8, 2))   # Should be True (2^3 = 8)
print(is_power_of(64, 4))  # Should be True (4^3 = 64)
print(is_power_of(70, 10)) # Should be False (no power of 10 gives 70)

True
True
False

In [ ]:
def sum_positive_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_positive_numbers(n - 1)

print(sum_positive_numbers(3))  # Should be 6 (1 + 2 + 3)
print(sum_positive_numbers(5))  # Should be 15 (1 + 2 + 3 + 4 + 5)

6
15